##############################
######### Ignore all #########
##############################
*
!.gitignore
##############################
# Allow files inside .config #
##############################
.config/*
!.config/

##############################
######## Arch config #########
##############################
!.xinitrc
!.Xresources

##############################
########## Polybar ###########
##############################
.config/polybar/*
!.config/polybar/
!.config/polybar/*

##############################
############# ZSH ############
##############################
!.zshrc
!.oh-my-zsh

##############################
############# i3 #############
##############################
.config/i3/*
!.config/i3/
!.config/i3/*

##############################
######### autorandr ##########
##############################
.config/autorandr/*
!.config/autorandr/
!.config/autorandr/*

##############################
############# vim ############
##############################
.vimrc

##############################
############ walps ###########
##############################
!Pictures/
Pictures/*
!Pictures/walps/
Pictures/walps/*
!Pictures/walps/*