URxvt*scrollTtyOutput: false
URxvt*scrollTtyKeypress: true
URxvt.colorUL: #4682B4
URxvt.scrollBar: false
URxvt.internalBorder: 10
Xft.dpi: 96
!URxvt.transparent: true
Xft.antialias: true
URxvt.buffered: true
URxvt.font: xft:Hack:size=10
URxvt.boldfont: xft:Hack:size=10